-- Fix Critical Database Schema Issues
-- This script fixes the missing columns and schema mismatches

USE smart_library;

-- ============================================================================
-- FIX 1: Add missing created_by column to books table
-- ============================================================================

-- Check if created_by column exists
SELECT COUNT(*) as column_exists 
FROM information_schema.COLUMNS 
WHERE table_schema = 'smart_library' 
  AND table_name = 'books' 
  AND column_name = 'created_by';

-- Add created_by column if it doesn't exist
ALTER TABLE books 
ADD COLUMN created_by INT NULL AFTER is_active,
ADD CONSTRAINT fk_books_created_by 
FOREIGN KEY (created_by) REFERENCES users(user_id) ON DELETE SET NULL;

-- Add index for performance
CREATE INDEX idx_books_created_by ON books(created_by);

-- Update existing books to have created_by = 1 (admin user)
UPDATE books SET created_by = 1 WHERE created_by IS NULL;

-- ============================================================================
-- FIX 2: Fix authors table structure to match admin route expectations
-- ============================================================================

-- Check current authors table structure
DESCRIBE authors;

-- If authors table only has 'name' column, we need to restructure it
-- First, create a backup
CREATE TABLE IF NOT EXISTS authors_backup AS SELECT * FROM authors;

-- Drop the current authors table
DROP TABLE IF EXISTS book_authors;
DROP TABLE IF EXISTS authors;

-- Recreate authors table with proper structure
CREATE TABLE authors (
    author_id INT PRIMARY KEY AUTO_INCREMENT,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    name VARCHAR(100) GENERATED ALWAYS AS (CONCAT(first_name, ' ', last_name)) STORED,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    INDEX idx_author_name (first_name, last_name),
    INDEX idx_full_name (name)
);

-- Recreate book_authors table
CREATE TABLE book_authors (
    book_id INT,
    author_id INT,
    author_order INT DEFAULT 1,
    PRIMARY KEY (book_id, author_id),
    FOREIGN KEY (book_id) REFERENCES books(book_id) ON DELETE CASCADE,
    FOREIGN KEY (author_id) REFERENCES authors(author_id) ON DELETE CASCADE
);

-- Migrate data from backup (if it exists)
-- This assumes the backup has author names in format "First Last"
INSERT INTO authors (first_name, last_name, created_at, updated_at)
SELECT 
    SUBSTRING_INDEX(name, ' ', 1) as first_name,
    SUBSTRING_INDEX(name, ' ', -1) as last_name,
    created_at,
    updated_at
FROM authors_backup
WHERE name IS NOT NULL AND name != '';

-- If no backup data, insert sample authors
INSERT INTO authors (first_name, last_name) VALUES
('George', 'Orwell'),
('Jane', 'Austen'),
('Mark', 'Twain'),
('Virginia', 'Woolf'),
('Ernest', 'Hemingway'),
('Harper', 'Lee'),
('J.K.', 'Rowling'),
('J.R.R.', 'Tolkien'),
('Frank', 'Herbert'),
('J.D.', 'Salinger'),
('Yuval Noah', 'Harari'),
('Taylor Jenkins', 'Reid'),
('Robert C.', 'Martin'),
('Andrew', 'Hunt'),
('David', 'Thomas'),
('Kyle', 'Simpson'),
('Martin', 'Kleppmann'),
('F. Scott', 'Fitzgerald'),
('William', 'Shakespeare'),
('Charles', 'Dickens'),
('Leo', 'Tolstoy');

-- ============================================================================
-- FIX 3: Update book_authors relationships
-- ============================================================================

-- Clear existing relationships
DELETE FROM book_authors;

-- Recreate book-author relationships
 -- War and Peace by Leo Tolstoy

-- ============================================================================
-- FIX 4: Add missing indexes for performance
-- ============================================================================

-- Add full-text search indexes
ALTER TABLE books ADD FULLTEXT(title, description);
ALTER TABLE authors ADD FULLTEXT(first_name, last_name, name);

-- Add performance indexes
CREATE INDEX IF NOT EXISTS idx_books_created_by ON books(created_by);
CREATE INDEX IF NOT EXISTS idx_authors_name ON authors(first_name, last_name);
CREATE INDEX IF NOT EXISTS idx_book_search_composite ON books(is_active, genre, title);

-- ============================================================================
-- FIX 5: Verify the fixes
-- ============================================================================

-- Check if all required columns exist
SELECT 
    'Books table columns' as check_type,
    COUNT(*) as total_columns
FROM information_schema.COLUMNS 
WHERE table_schema = 'smart_library' 
  AND table_name = 'books';

-- Check if created_by column exists
SELECT 
    'Created_by column exists' as check_type,
    COUNT(*) as column_exists
FROM information_schema.COLUMNS 
WHERE table_schema = 'smart_library' 
  AND table_name = 'books' 
  AND column_name = 'created_by';

-- Check authors table structure
SELECT 
    'Authors table columns' as check_type,
    COUNT(*) as total_columns
FROM information_schema.COLUMNS 
WHERE table_schema = 'smart_library' 
  AND table_name = 'authors';

-- Check if first_name and last_name columns exist
SELECT 
    'Authors name columns exist' as check_type,
    COUNT(*) as columns_exist
FROM information_schema.COLUMNS 
WHERE table_schema = 'smart_library' 
  AND table_name = 'authors' 
  AND column_name IN ('first_name', 'last_name');

-- Check data integrity
SELECT 
    'Books with authors' as check_type,
    COUNT(*) as books_with_authors
FROM books b
JOIN book_authors ba ON b.book_id = ba.book_id;

-- Check if all books have created_by
SELECT 
    'Books with created_by' as check_type,
    COUNT(*) as books_with_created_by
FROM books 
WHERE created_by IS NOT NULL;

-- ============================================================================
-- FIX 6: Clean up
-- ============================================================================

-- Drop backup table
DROP TABLE IF EXISTS authors_backup;

-- Display final status
SELECT 
    'Critical Issues Fixed Successfully' as status,
    NOW() as completion_time;
